.a1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color:blue;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color:green;
  }
 